body {
  font-size: $default-font-size;
  line-height: 1.7;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: $color-grey-dark;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    font-size: 6rem;
    display: block;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-out;
    @include respond(phone) {
      letter-spacing: 1rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    animation: moveInRight 1s ease-out;
  }

}

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, $primary-color-light, $primary-color-dark);
  -webkit-background-clip: text;
  color: transparent;
  transition: all .2s;
  @include respond(tab-port) {
    font-size: 3rem;
  }
 @include respond(phone) {
    font-size: 2rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  text-transform: uppercase;
  font-weight: 700;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}